@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS pour thèmes */
:root {
  --color-primary: #ff954f; /* bleu clair */
  --color-secondary: #ff6ab0;
  --color-button: #ffbf94;
  --color-button-hover: #ff6ab0;
  --color-background: 254 247 255;
  --text: #30324b;
}

.dark {
  --color-primary: #ff76b6;
  --color-secondary: #ff9853;
  --color-button: #ff9955;
  --color-button-hover: #ff6ab0;
  --color-background: 18 17 26;
  --text: #e7e6de;
}

body {
  background-color: rgb(var(--color-background));
  color: var(--text);
  transition:
    background-color 0.3s,
    color 0.3s;
}
