@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbars */
*::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Variables CSS pour thèmes */
:root {
  --color-primary: #156064; /* bleu clair */
  --color-secondary: #7b2d5e;
  --color-button: #ffbf94;
  --color-button-hover: #ff6ab0;
  --color-background: 231 231 238;
  --color-border: #b7b7cc;
  --text: #191924;
}

.dark {
  --color-primary: #ff76b6;
  --color-secondary: #ff9853;
  --color-button: #ff9955;
  --color-button-hover: #ff6ab0;
  --color-background: 18 17 26;
  --text: #e7e6de;
}

body {
  background-color: rgb(var(--color-background));
  color: var(--text);
  transition:
    background-color 0.3s,
    color 0.3s;
}
