---
const { skills = [] } = Astro.props;
---

<div class='w-full md:w-[80%] flex gap-3 mt-2 mb-2 flex-wrap'>
  {skills.map((skill) => 
    <div class='rounded-full p-2 md:p-3 bg-secondary hover:bg-primary hover:cursor-default md:mx-2 mx-1 min-w-[60px] flex items-center justify-center duration-300'>
      <span class='font-semibold text-background'>{skill}</span>
    </div>
  )}
</div>
