---
const { workExperience } = Astro.props;
---

<div
  class='group cursor-pointer flex flex-col w-full p-5 transition duration-300 group hover:text-secondary border-b-2 hover:border-secondary'
>
  <div class='flex justify-between items-center'>
    <div class='flex flex-col gap-1'>
      <span class='font-bold'>{workExperience.organisationName} </span>
      <span class='font-light text-xs group-hover:text-secondary'>
        {workExperience.position}
      </span>
    </div>
    <span class='font-light text-sm group-hover:text-secondary'
      >{workExperience.date}</span
    >
  </div>
  <ul class='mt-1 p-2 ml-3 list-disc'>
    {workExperience.info.map((info) => <li>{info}</li>)}
  </ul>
</div>
